//Card principal
.main-card {
    margin: 32px auto;
    max-width: 1200px;
}

.mat-spinner {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.informacion {
    min-width: 150px;
    padding-right: 20px;
}

.mat-body-1 {
    color: var(--data-color);
    font-size: 13px;
}

.boton {
    background-color: var(--data-color);
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    .mat-icon {
        color: white;
    }
}

.solicitudes-section {
    overflow-x: scroll;
}

.mat-table,
.mat-paginator {
    width: 100%;
    min-width: 800px;
}

.mat-header-cell {
    background-color: var(--data-color);
}

.mat-cell,
.mat-header-cell {
    padding: 6px 6px 6px 0;
}

th {
    color: white;
    font-size: 14px;
}

tr.mat-footer-row {
    font-weight: bold;
}