.center {
    text-align: center;
}

.container-informacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.boton {
    background-color: var(--data-color);
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    .mat-icon {
        color: white;
    }
}

.container-botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 600px) {
    section {
        min-width: 350px;
    }
}

@media (max-width: 600px) and (min-width: 450px) {
    section {
        min-width: 300px;
    }
}